/*Page layout */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

.content, header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back {
  background-color: white;
}

.title {
  background-color: white;
  border-bottom: 2px solid black;
  margin-top: 0;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

/* Chrome (tested v67) doesn't auto expand display: flex */
footer {
  display: inline-block;
  background-color: white;
  border-top: 2px solid black;
  margin-top: 1em;
}

/* Nest in footer with actual layout div */
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: auto;
  font-size: 12px;
}

/*
 * Chrome (tested v67) doesn't automatically line break long links
 * that overflow on mobile
 */
.footer p {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


nav {
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav ul li, nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

nav ul li p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.7em;
}

nav ul li p.date {
  font-size: 1.0em;
  padding-bottom: 0.7em;
  margin-top: 0.1em;
}

/* Article display */

article {
  width: 40em;
  max-width: 95%;
  background-color: white;
  border-radius: 24px;
  padding: 1.5em;
}

.content article h1:first-child, .content article h2:first-child {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  article {
    margin: 0;
    border-radius: unset;
    width: 100%;
  }

  .title {
    margin-bottom: 0;
  }

  footer {
    margin-top: 0;
  }
}

article h1 {
  font-size: 2.5em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

article p {
  font-size: 1.1em;
  margin: 0.1em;
  padding: 0.1em;
  max-width: 100%;
}

article img {
  max-width: 100%;
  max-height: 75vh;
  display: block;
  margin: 0 auto;
 }

/* Tweaking */

a {
  padding: 0.7em;
  margin: -0.7em; /* keep layout the same */
}

p {
  margin: 0.2em;
}

.title-line {
  height: 1em;
}

.center {
  text-align: center;
}

div.highlight {
  overflow-x: auto;
  max-width: 100%;
}

#wrapper {
  display: block;
  margin: 0 auto;
}

.links {
  max-width: 50em;
}

.links ul li {
  background-color: white;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  padding-top: 0.3em;
  border-radius: 18px;
}
