/*Page layout */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content, header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid black;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav ul li, nav ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

nav ul li p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.7em;
}

nav ul li p.date {
  font-size: 1.0em;
  padding-bottom: 0.7em;
  margin-top: 0.1em;
}

/* Article display */

article {
  width: 40em;
  max-width: 95%;
}

article h1 {
  font-size: 2.5em;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

article p {
  font-size: 1.1em;
  margin: 0.1em;
  padding: 0.1em;
  max-width: 100%;
}

article img {
  max-width: 100%;
  max-height: 75vh;
  display: block;
  margin: 0 auto;
 }

/* Tweaking */

a {
  padding: 1em;
  margin: -1em; /* keep layout the same */
}

p {
  margin: 0.2em;
}

.title-line {
  border-top: 1px solid black;
  height: 1em;
}

.center {
  text-align: center;
}

canvas, #wrapper {
  display: block;
  margin: 0 auto;
}
