<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width = device-width">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Skeletonxf.github.io" %></title>
  <link rel = "stylesheet" href = "stylesheets/highlighting.css">
  <link rel = "stylesheet" href = "stylesheets/styles.css">
  <link rel = "stylesheet" href = "stylesheets/dndCrime.css">
  <script src = "javascripts/dndCrime.js"></script>
</head>
<body>
  <div class = "page">
    <%= yield %>
  </div>
  <footer>
    <div class = "footer">
      <p>My content on this site is licensed under Creative Commons By Attribution <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>
      <p>This site's source code is licensed under the MIT license <a href="https://github.com/Skeletonxf/Skeletonxf.github.io/tree/code">https://github.com/Skeletonxf/Skeletonxf.github.io/tree/code</a></p>
    </div>
  </footer>
</body>
</html>
