<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Portfolio" %></title>
  <link rel="stylesheet" href="stylesheets/portfolio/styles.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src="javascripts/portfolio/expand.js"></script>
</head>
<body>
  <div class="page">
    <%= yield %>
  </div>
  <footer>
    <div class="footer" id="contact">
      <h2>Contact information</h2>
      <p>If I've submitted this URL on an application you will already have my preferred email address. For other inquiries I can be contacted by my gmail under skeletonxf</p>
    </div>
  </footer>
</body>
</html>
