<body>
<div class = "page">
  <%= erb :'indexContent' %>
  <div class = "title-line"></div>
  <header>
    <nav><%= erb :'nav' %></nav>
  </header>
</div>
<footer>
  <%= erb :'footer' %>
</footer>
</body>
