<header>
  <nav>
    <ul>
      <% @nav.each do |item| %>
        <li>
          <p><a href = "<%= item[0] %>"><%= item[1] %></a></p><p class = "date"><%= item[2] %></p>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
