* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  background-color: whitesmoke;
}

header {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h2 {
  width: 100%;
}

.free-text {
  max-width: 40em;
  text-align: center;
  margin: auto;
  padding: 0.8em;
  background-color: white;
  border-radius: 18px;
}

.overview {
  padding-bottom: 0;
}

.overview p {
  font-size: 1em;
}

@media only screen and (max-width: 700px) {
  .free-text {
    margin: 1em;
  }
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto (450px)[3] auto;
  grid-template-columns: auto repeat(3, 450px) auto;
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
      grid-template-areas:
    "left one two three right"
    "left four five six right";
}

@media only screen and (max-width: 1378px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (450px)[2] auto;
    grid-template-columns: auto repeat(2, 450px) auto;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
        grid-template-areas:
      "left one two right"
      "left three four right"
      "left five six right";
  }
}

@media only screen and (max-width: 860px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (450px)[1] auto;
    grid-template-columns: auto repeat(1, 450px) auto;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
        grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }
}

@media only screen and (max-width: 500px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (90%)[1] auto;
    grid-template-columns: auto repeat(1, 90%) auto;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
        grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }
}

.item {
  margin: 1em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  /* center vertically */
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
}

.item h2 {
  text-align: center;
  margin: 0.3em;
}

.item img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.item img.small-image {
    max-height: 150px;
}

.item a {
  padding: 0.3em;
  margin: -0.3em;
}

#one {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: one;
}

#two {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

#three {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: three;
}

#four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

#five {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: five;
}

#six {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: six;
}

@media only screen and (max-width: 1378px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #three {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  #five {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media only screen and (max-width: 860px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #three {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  #five {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
}

@media only screen and (max-width: 500px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #three {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  #five {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
}
