* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  background-color: whitesmoke;
}

header {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h2 {
  width: 100%;
}

.free-text {
  max-width: 40em;
  text-align: center;
  margin: auto;
  padding: 0.8em;
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 3px 3px 7px darkgray;
          box-shadow: 3px 3px 7px darkgray;
}

.free-text article {
  width: auto;
}

.overview {
  padding-bottom: 0;
}

.overview p {
  font-size: 1em;
}

@media only screen and (max-width: 700px) {
  .free-text {
    margin: 1em;
  }
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto (450px)[3] auto;
  grid-template-columns: auto repeat(3, 450px) auto;
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
      grid-template-areas:
    "left one two three right"
    "left four five six right";
  margin: 1em 0;
}

@media only screen and (max-width: 1378px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (450px)[2] auto;
    grid-template-columns: auto repeat(2, 450px) auto;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
        grid-template-areas:
      "left one two right"
      "left three four right"
      "left five six right";
  }
}

@media only screen and (max-width: 920px) and (min-width: 581px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (550px)[1] auto;
    grid-template-columns: auto repeat(1, 550px) auto;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
        grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }

  .item img {
    float: left;
    max-width: 35% !important;
    margin: 0.9em !important;
  }
}

@media only screen and (max-width: 580px) {
  #grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0 (auto)[1] 0;
    grid-template-columns: 0 repeat(1, auto) 0;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
        grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }
}

.item {
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  -webkit-box-shadow: 3px 3px 7px darkgray;
          box-shadow: 3px 3px 7px darkgray;
  background-color: white;
  /* center vertically */
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
}

.item h2 {
  text-align: center;
  margin: 0.3em;
}

.item img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.item img.small-image {
    max-height: 150px;
}

.item a {
  padding: 0.3em;
  margin: -0.3em;
}

@media only screen and (max-width: 920px) {
  /*
   * Add seperator lines when single column list
   */
  .item:not(:first-child)::before {
    content: "";
    border-bottom: 1px solid black;
    width: 50%;
    height: 10px;
    margin: 1em auto;
    display: block;
  }

  /* Remove the visual styling from each item */
  .item {
    margin: 0;
    border-radius: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: unset;
  }

  /* Put the visual styling of each item into its content */
  .item-content {
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    -webkit-box-shadow: 3px 3px 7px darkgray;
            box-shadow: 3px 3px 7px darkgray;
    background-color: white;
  }
}

#one {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: one;
}

#two {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: two;
}

#three {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: three;
}

#four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

#five {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: five;
}

#six {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: six;
}

@media only screen and (max-width: 1378px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #three {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  #five {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media only screen and (max-width: 920px) and (min-width: 581px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #three {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  #five {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
}

@media only screen and (max-width: 580px) {
  #one {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #three {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #four {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  #five {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  #six {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
}
