* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: whitesmoke;
}

header {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

h1 {
  margin-top: 0;
  text-align: center;
}

#intro {
  max-width: 40em;
  text-align: center;
  margin: auto;
  padding: 0.8em;
  background-color: white;
  border-radius: 18px;
}

#grid {
  display: grid;
  grid-template-columns: auto repeat(3, 400px) auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "left one two three right"
    "left four five six right";
}

.item {
  margin: 1em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
}

.item h2 {
  text-align: center;
  margin: 0.3em;
}

.item img {
  display: block;
  margin: auto;
}

.expanded {
  position: static !important;
  opacity: 1;
}

.text {
  transition: opacity 1s;
}

.hidden {
  /* don't use display: none; as it will stop screen reader access */
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  opacity: 0;
}

/* Hide image when showing text */

.hidden + img {
  position: static !important;
  opacity: 1;
}

.expanded.js-works + img {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  opacity: 0;
}

.text + img {
  transition: opacity 1s;
}


#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

footer .footer {
  font-size: large;
}
