* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: whitesmoke;
}

header {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

h1 {
  margin-top: 0;
  text-align: center;
}

#intro {
  max-width: 40em;
  text-align: center;
  margin: auto;
  padding: 0.8em;
  background-color: white;
  border-radius: 18px;
}

@media only screen and (max-width: 700px) {
  #intro {
    margin: 1em;
  }
}

#grid {
  display: grid;
  grid-template-columns: auto repeat(3, 400px) auto;
  grid-template-rows: repeat(2, 350px);
  grid-template-areas:
    "left one two three right"
    "left four five six right";
}

@media only screen and (max-width: 1268px) {
  #grid {
    display: grid;
    grid-template-columns: auto repeat(2, 400px) auto;
    grid-template-rows: repeat(3, 350px);
    grid-template-areas:
      "left one two right"
      "left three four right"
      "left five six right";
  }
}

@media only screen and (max-width: 860px) {
  #grid {
    display: grid;
    grid-template-columns: auto repeat(1, 400px) auto;
    grid-template-rows: repeat(6, 350px);
    grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }
}

@media only screen and (max-width: 420px) {
  #grid {
    display: grid;
    grid-template-columns: auto repeat(1, 90%) auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "left one right"
      "left two right"
      "left three right"
      "left four right"
      "left five right"
      "left six right";
  }
}

.item {
  margin: 1em;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  /* center vertically */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item h2 {
  text-align: center;
  margin: 0.3em;
}

.item img {
  display: block;
  margin: auto;
}

.expanded {
  position: static !important;
  opacity: 1;
}

.text {
  transition: opacity 1s;
}

.hidden {
  /* don't use display: none; as it will stop screen reader access */
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  opacity: 0;
}

/* Hide image when showing text */

.hidden + img {
  position: static !important;
  opacity: 1;
}

.expanded.js-works + img {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  opacity: 0;
}

.text + img {
  transition: opacity 1s;
}


#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

footer .footer {
  font-size: large;
}
