<%= partial :back %>
<h1 class = "center">
  A blog of sorts
</h1>
<div class = "title-line"></div>
<div class = "content">
  <article>
    <aside>
      <p>As of 4/4/2018 I even removed the server part, and now use middleman instead as I don't even need Sinatra for a static website.
      </p>
    </aside>
    <h1>Repetition</h1>
    <p>
When I was introduced to web site design it was with raw HTML files or near enough and a bit of CSS.  The repetition was the very opposite of what I had learnt from programming. Most of the different pages was shared HTML tags in the very same order, and saving repeating the css styles didn’t seem to do much about repeating HTML. I ended up not minding CSS but not liking HTML at all.
    </p>
    <p>
Fast forward a few years and I’m designing websites using Sinatra with Ruby, and I get a glimpse of how nesting erb files can finally do away with all the repeated HTML blocks. Finally it made sense, you produce the HTML file for the client but never look at it unless you need to debug something in the browser’s tools. You focus on designing bits of HTML and using a little scripting in places such as to convert data to list items.
    </p>
    <p>
Of course as I’m hosting these webpages on github.io I don’t actually have a proper server to respond to requests and generate the pages on demand, but that doesn’t matter. The end user’s browser just needs to see the HTML file; I can develop it using Sinatra and then just save the HTML files myself to put the static files onto Github for people to actually browse.
    </p>
    <p>
So that’s what I’ve done.
    </p>
  </article>
</div>
