<%= partial :back %>
<h1 class = "center">
  A game eventually
</h1>
<div id = "wrapper">
  <% 6.times do |n| %>
    <div id = "section<%= n*2 %>" class="section">
      <div class="container">
        <ol class="even nothing-up face-to-face-down">
          <li class='hex'></li>
        </ol>
        <ol class="odd face-to-face-up point-to-point-down">
          <li class='hex'></li>
          <li class='hex'></li>
        </ol>
        <ol class="odd point-to-point-up face-to-face-down">
          <li class='hex'></li>
          <li class='hex'></li>
        </ol>
        <ol class="even face-to-face-up point-to-point-down">
          <li class='hex'></li>
        </ol>
        <ol class="even point-to-point-up nothing-down">
          <li class='hex blank'></li>
        </ol>
      </div>
    </div>
    <div id = "section<%= (n*2)+1 %>" class="section">
      <div class="container">
        <ol class="odd nothing-up point-to-point-down">
          <li class='hex'></li>
        </ol>
        <ol class="odd point-to-point-up point-to-point-down">
          <li class='hex'></li>
        </ol>
        <ol class="odd point-to-point-up nothing-down">
          <li class='hex blank half'></li>
        </ol>
      </div>
    </div>
  <% end %>
</div>

<style>
#wrapper {
  background-color: cyan;
  /* width: 100%; */
  padding: 3px;
}

/* circle */
.node {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: lightgreen;
}
</style>
<script>
  let game = document.getElementById('wrapper')
</script>
