---
title: Index
---

<div class = "content title">
  <h1>A blog of sorts</h1>
</div>
<%= partial :nav, locals: { nav: [
    ["Risky Conquest 1.2 [Game]", "risky2.html", "2020/01/05"],
    ["Model-View-ViewModel what?", "mvvm.html", "2019/12/17"],
    ["Multiple WiFi sources", "multipleWifiSources.html", "2019/01/24"],
    ["C with Classes", "cWithClasses.html", "2018/11/04"],
    ["This is oddly familiar; FFI and JSON messaging", "oddlyFamiliar.html", "2018/10/06"],
    ["Risky Conquest 1.1 [Game]", "risky.html", "2018/06/24"],
    ["Multiple inheritance in Lua", "multipleInheritance.html", "2018/04/04"],
    ["Duplicate Tab", "duplicateTab.html", "2017/12/28"],
    ["Building this site", "building.html", "2017/09/04"]
  ] }  %>
