---
title: Index
---

<div class = "content title">
  <h1>A blog of sorts</h1>
</div>
<%= partial :nav, locals: { nav: [
    ["This is oddly familiar", "oddlyFamiliar.html", "2018/10/6"],
    ["Risky Conquest 1.1", "risky.html", "2018/06/24"],
    ["Multiple inheritance in Lua", "multipleInheritance.html", "2018/04/04"],
    ["Duplicate Tab", "duplicateTab.html", "2017/12/28"],
    ["Building this site", "building.html", "2017/09/04"]
  ] }  %>
