---
title: Index
---

<div class = "content">
  <h1>A blog of sorts</h1>
</div>
<div class = "title-line"></div>
<%= partial :nav, locals: { nav: [
    ["Multiple inheritance in Lua", "multipleInheritance.html", "2018/04/04"],
    ["Duplicate Tab", "duplicateTab.html", "2017/12/28"],
    ["Building this site", "building.html", "2017/09/04"]
  ] }  %>
