<%= partial :back %>
<h1 class = "center">
  Multiple Inheritance in Lua
</h1>
<div class = "title-line"></div>
  <div class = "content">
    <article>
      <%= partial "markdown/multipleInheritance" %>
    </article>
  </div>
</div>
