<%= partial :back %>
<h1 class = "center">
  This is oddly familiar
</h1>
<div class = "title-line"></div>
  <div class = "content">
    <article>
      <%= partial "markdown/thisIsOddlyFamiliar" %>
    </article>
  </div>
</div>
