---
layout: platforms
title: Moving Platforms 3
---

<h1 class="center">
  Moving Platforms 3
</h1>
<div class="content">
  <main>
    <div class="container">
      <div class="child">
        <div id="gameWrapper">
          <canvas id="game"></canvas>
        </div>
      </div>
    </div>
  </main>
</div>
